<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
</head>
<body ng-app="todoApp">
	<div style="width: 50%;">
		<div ng-controller="todoListsController" style="float: left;">
			<h1>TODOs</h1>
			<ul>
				<li ng-repeat="list in model.todoLists">
					<a href="#" ng-click="model.viewList">{{ list.name }}</a>
				</li>
			</ul>
		</div>
		<div ng-controller="todoListController" style="float: right;">
			<h1>{{ model.todoList.name }}</h1>
			<ul>
				<li ng-repeat="item in model.todoList.items">
					<input type="checkbox" checked={{item.done}} />
					<input type="text" value={{item.todo}} />
				</li>
			</ul>
		</div>		
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="todoListsController.js"></script>
	<script type="text/javascript" src="todoListController.js"></script>
	<script type="text/javascript" src="todoService.js"></script>
</body>
</html>